*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin:0;
    padding:0;
    word-break: break-all;
}
body,ul,li,h1,h2,h3,h4,h5,h6,p,ol,li,dt,dd,dl{
    border:none;
    list-style: none;
    font-weight: normal;
}
body{
    margin: 0;
    padding: 0;
    font-family: arial;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
}
img{
	vertical-align:bottom;
	display:block;
}
svg{
	vertical-align:bottom;
	display:block;
}
a{
    text-decoration: none;
}

a img{
	border: none;
}

a svg{
	border: none;
}

.clear:after{
	content: "";
	display: block;
	clear:both;
}
.cbefore:before {
  content: "";
  display: table;
}
